/* 
Correction!

Barre 1: Supprimer le code CSS inline: votre barre de navigation redeviendra blanche, le CSS appliqué sera celui de nav défini plus bas.

Barre 2: Pourquoi le fond est-il bleu alors que les deux sélecteurs sont bien déclarés ?
Votre navigateur applique le CSS par ordre de priorité. La spécificité d'un ID est plus forte qu'une classe. Ici c'est #nav qui l'emporte.

Barre 3: Pour avoir un fond vert, appliquez #nav.navbar.

*/

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navigation {
  background-color: red;
}

#nav {
  background-color: blue;
}

.navbar {
  background-color: yellow;
}

#nav.navbar {
  background-color: green;
}

/* 
Fin de l'exercice
Le code suivant ne fait pas parti de l'exercice. 
*/
body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

header {
  background-color: white;
  padding: 20px 50px;
  margin-bottom: 30px;
}

a {
  color: #242424;
  text-decoration: none;
}

nav a {
  margin-left: 30px;
}
